extends layouts/main.pug

block content
    .videodetail-video-container
        video(src="/"+video.path controls).video-container__video
        .video-container__info-box
            .video-container__title-controls-box
                h2.video-container__title=video.title
                .video-container__controls
                    if curUser && curUser.id == video.creator.id
                        .video-container__controls__edit
                            a(href="/videos"+routes.editVideo(video.id)) edit video
            .video-container__views-date-box
                span.video-container__views-box
                    span.video-container__views=video.views
                    if video.views == 1
                        span  view
                    else
                        span  views
                span •
                span.video-container__date
                    span.video-container__date-month=video.createdAt.getMonth()+1
                    | 
                    span.video-container__date-date=video.createdAt.getDate()
                    | 
                    span.video-container__date-year=video.createdAt.getFullYear()
            .video-container__info-avatar-box
                a(href="/users"+routes.userDetail(video.creator.id)).video-container__creator
                    img(src=video.creator.avatarUrl).video-container__creator-avatar
                .video-container__creator-text-box
                    .video-container__creator-info
                        a(href="/users"+routes.userDetail(video.creator.id)).video-container__creator-name=video.creator.name
                        span.video-container__subscribers=video.creator.subscribers
                            if video.creator.subscribers == 1
                                span  subscriber
                            else
                                span  subscribers
                    .video-container__text_box
                        .video-container__description=video.description
        .video-container__comments-box
            .video-container__comments-info
                span.video-container__comments-number=video.comments.length
                if video.comments.length == 1
                    span  comment
                else
                    span  comments
                if curUser
                    form.video-container__comment-form
                        input(placeholder="Add a public comment...").video-container__comment-input
                        button.video-container__comment-button comment
            .video-container__comments
                each comment in video.comments.reverse()
                    .comment-container
                        a(href="/users"+routes.userDetail(comment.creator.id)).creator-avatar
                            img(src=comment.creator.avatarUrl)
                        .comment-info
                            .comment-creator-date-box
                                a(href="/users"+routes.userDetail(comment.creator.id)).comment-creator
                                    span.comment-creator__name=comment.creator.name
                                .comment-date
                                    span.comment-date__month=comment.createdAt.getMonth()+1
                                    span.comment-date__date=comment.createdAt.getDate()
                                    span.comment-date__year=comment.createdAt.getFullYear()
                            .comment-text=comment.text
                            .comment-controls
                                if curUser && curUser.id == comment.creator.id
                                    button(id=comment.id).comment-delete delete